<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, options_for_select(Task.statuses.map {|k, v| [k, k]}), value:0 %>
  </div>

  <div class="field">
    <%= f.label :priority %>
    <%= f.number_field :priority, value:1, in:1..5 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
